<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuxin.mapper.ruleengine.RuleDCCFFYCXMapper">

	<select id="selectSingleFeeOverInfo" resultType="java.util.HashMap">
		select to_number(t.xyfy) xyfy,to_number(t.zcyfy) zcyfy,to_number(t.zyypfy) zyypfy from t_dccffycx t where rownum=1
	</select>

</mapper>